body{
    text-align: center;
}

.box1{
    width: 150px;
    height: 150px;
}

.box2{
    width: 150px;
    height: 150px;
}

.box3{
    width: 150px;
    height: 150px;
}

.box4{
    width: 150px;
    height: 150px;
}

.box5{
    width: 150px;
    height: 150px;
}

.box6{
    width: 150px;
    height: 150px;
}

.box7{
    width: 150px;
    height: 150px;
}

.box8{
    width: 150px;
    height: 150px;
}

.box9{
    width: 150px;
    height: 150px;
}